<nav class="navbar navbar-expand-xl navbar-dark bg-geo">
    <div class="container-fluid ">
      <!-- Brand -->
      <a class="navbar-brand  me-0" id="nav-title" href="/">RagnaRock Guitar Shop</a>
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDocsTopCollapse" aria-controls="navbarDocsTopCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarDocsTopCollapse">
        <ul class="navbar-nav mx-auto mt-2 ">
          <li class="nav-item ">
            <a class="nav-link glow h4 white" href="#">Guitarras</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link glow h4 white" href="#">Bajos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link glow h4 white" href="#">Amplificadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link glow h4 white" href="#">FX</a>
          </li>
          <li class="nav-item">
            <a class="nav-link glow h4 white" href="#">Accesorios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link glow h4 white" href="#">Vintage</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link glow h4  dropdown-toggle white" id="dropdownXxl" data-bs-toggle="dropdown" href="#">Servicios</a>
            <ul class="dropdown-menu dropdown-menu-dark crt bg-dark" aria-labelledby="dropdownXxl">
              <li><a class="dropdown-item glow no-scan h4" href="#">Reparación Guitarras</a></li>
              <li><a class="dropdown-item glow no-scan h4" href="#">Reparación Amplificadores</a></li>
              <li><a class="dropdown-item glow no-scan h4" href="#">Armado de Pedaleras</a></li>
            </ul>
          </li>
        </ul>
        <form>
          <input class="form-control h4 mt-2 bg-light" type="text" placeholder="Buscar" aria-label="Search">
        </form>
        <!-- Button -->
        <a class="btn btn-lg btn-dark mt-2 h4 " href="/users/register" target="_blank">Ingresar</a>
      </div>
    </div>
</nav>
<div class="b-example-divider"></div>