@import url('https://fonts.googleapis.com/css2?family=Damion&family=Martel+Sans:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yellowtail:400');


/* font-family: 'Damion', cursive;
font-family: 'Martel Sans', sans-serif;

color-palette:
    Russian Violet: RGB: (39, 2, 69)
    Mardi Gras: RGB: (135, 26, 133)-purple
    Awesome: RGB: (255, 41, 65)-orange/red
    Electric Yellow: RGB: (254, 255, 56)
    Hot Magenta: RGB: (254, 24, 211)
    Electric Ultramarine: RGB: (66, 6, 241)
*/
.yellowtail {
  font-family: "Yellowtail", sans-serif;
}
.damion {
  font-family: 'Damion', cursive;
}
.text-fade {
  background: linear-gradient(270deg, rgb(254, 255, 56), rgb(254, 24, 211), rgb(255, 41, 65));
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: titleFade 6s ease infinite;
    -moz-animation: titleFade 6s ease infinite;
    animation: titleFade 6s ease infinite;
}
#nav-title {
    font-family: 'Damion', cursive;
    font-size: 2.5rem;
    /*background: -webkit-linear-gradient(rgb(66,6,241), rgb(254, 24, 211),rgb(255,41,65));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    background: linear-gradient(270deg, rgb(254, 255, 56), rgb(254, 24, 211), rgb(255, 41, 65));
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: titleFade 6s ease infinite;
    -moz-animation: titleFade 6s ease infinite;
    animation: titleFade 6s ease infinite;
    
}
@-webkit-keyframes titleFade {
    0%{background-position:0% 100%}
    50%{background-position:100% 150%}
    100%{background-position:150% 200%} 
}
 @-moz-keyframes titleFade {
    0%{background-position:0% 50%}
    50%{background-position:100% 150%}
    100%{background-position:150% 200%}
}
@keyframes titleFade {
    0%{background-position:0% 50%}
    50%{background-position:100% 150%}
    100%{background-position:150% 200%}
}

.bg-fade {
    background: linear-gradient(180deg, #270245, #871a85);
    background-size: 100rem 100rem;
}
.bg-geo {
  background: fixed rgb(34, 25, 41) url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}
.bg-palm {
  background: fixed url(./../img/palms.jpg) no-repeat center center ;
  background-size: cover;
  
}
.bg-purple {
  background: fixed border-box /*linear-gradient(180deg, #270245b0, #871a85ab)*/ url("https://www.transparenttextures.com/patterns/inspiration-geometry.png") black ;
  border: solid 1px darkorchid;
  margin: 0;
  padding: 0;
}
.border-gradient {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, red, orange);
}

@keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }
  .crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: -4;
    pointer-events: none;
    /* animation: flicker .07s infinite; */
  }
  .crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: -4;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  /* .crt {
     animation: textShadow 1.6s infinite; 
  } */

/* text glow */ 
.no-scan {
  z-index: 4!important;
}
.glow {
  color: rgb(255, 255, 255);
  text-align: center;
  transition: 0.3s;
}
.white {
  color: rgb(255, 255, 255)!important;
}
.black {
  background-color: black;
}
.glow:hover {
  animation: glow 1.5s ease-in-out infinite alternate;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate;
  
}

@keyframes glow {
  from {
    text-shadow: 
      0 0 10px #fff,
      0 0 11px #fff, 
      0 0 12px white, 
      0 0 13px magenta, 
      0 0 14px magenta, 
      0 0 15px magenta, 
      0 0 16px magenta; 
  }
  to {
    text-shadow: 
    0 0 10px #fff, 
    0 0 12px blueviolet, 
    0 0 13px blueviolet, 
    0 0 14px blueviolet, 
    0 0 15px blueviolet, 
    0 0 16px blueviolet, 
    0 0 17px blueviolet;
  }
}

.neonText {
  color: #fff;
  text-shadow:
    /* White glow */
    0 0 5px #fff,
    0 0 7px #fff,
    0 0 11px #fff,
    /* Green glow */
    0 0 11px blueviolet,
    0 0 21px blueviolet,
    0 0 31px blueviolet,
    0 0 40px blueviolet,
    0 0 54px blueviolet;
  animation: pulsate 0.11s ease-in-out infinite alternate
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
  }
}

.z1 {
  z-index: 1!important;
}
.z2 {
  z-index: 2!important;
}
.z3 {
  z-index: 3!important;
}
.zBack {
  z-index: -4!important;
}

.brickWall {
  position: relative;
  height: auto;
  display: block;
  background-image: url('./../img/bricks.jpeg');
  background-size: cover;
}

.brickWall:after {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: radial-gradient(circle, transparent 25%, black 90%);
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

