@import url('https://fonts.googleapis.com/css2?family=Damion&family=Martel+Sans:wght@200;400;700&display=swap');


/* font-family: 'Damion', cursive;
font-family: 'Martel Sans', sans-serif; */

#nav-title {
    font-family: 'Damion', cursive;
    font-size: 1.5rem;
}